/* General styling*/
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: rgb(224, 255, 221);
}
/* End general styling*/

/* General layout*/
.calculator {
    margin:10vh auto;
    width:60%;
    max-width: 400px;
    background-color: #707881;
    padding: 15px;
    border-radius: 10px;
}

.display-screen{
    padding: 30px;
    background-color:#43D5F8;
    border-radius: 10px;
}

.btns-container{
    display: flex;
    gap: 10px;
    margin:15px 0px 0px 0px;
}
/* End general layout*/

/* button styling*/
.btns-num-container > button, .operators-container > button  {
    font-size:1.1rem;
    padding: 10px;
    background-color: #dee6ec;
    border:none;
    border-radius: 10px;
}

.btns-num-container > button:hover, 
.operators-container > button:hover {
    background-color: #f7fbff;
    cursor: pointer;
}

.operators-container > button:nth-last-child(1){
    color: white;
    background-color: #124888;
}

.operators-container > button:nth-last-child(1):hover{
    background-color: #2162b1;
}

button[value="C"]{
    color:rgb(216, 30, 30);
    font-weight: 700;
}
/* end button styling*/

/* calc button layout*/
.btns-num-container{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    flex: 2;
}

.btns-num-container > button{
    flex:2;
}

.operators-container {
    display: flex;
    flex-flow:row wrap;
    gap:10px;
    flex: 1;
}

.operators-container > button {
    flex: 1;
}
/* end calc button layout*/